//- Все примеси в этом файле должны начинаться c имени блока (contact-phone)

mixin contact-phone(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +contact-phone('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' contact-phone--' + modsList[i].trim();
      }
    }

  .contact-phone(class=allMods)&attributes(attributes)
    .contact-phone__inner
      :php
        $phone = esc_html( get_option('phone_number_01') );
        echo $phone;
